# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# CCS files
demo/Debug/
demo/targetConfigs/
demo/.launches/
demo/.settings/
demo/.ccsproject
demo/.cproject
demo/.project

# Figures
*.pdf
*.aux
*.log
*.dvi
*.ps
*.swp

# reveal.js
.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
