/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(http://fonts.googleapis.com/css?family=Schoolbell);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #cfd5e1;
$headingColor: #cfd5e1;

$mainFontSize: 38px;
// $mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$mainFont: 'Schoolbell', cursive;
//$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Walter Turncoat', cursive;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #e0d1d9;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
